<a href="https://colab.research.google.com/github/carlosjviola/MeLi-challenge/blob/main/MeLi_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MeLi** - Data Visualization & Analytics Challenge

Carlos José Viola - 2022/11 

[Ver especificaciones](https://drive.google.com/file/d/1CTPIC5OIZ58joVDMG9AYAEecKTCsRtlc/view?usp=share_link)

**#Creamos un DataFrame de Pandas para analizar el archivo**

In [73]:
import pandas as pd
import numpy as np
from datetime import date

# Se crea una variable para almacenar nombre del archivo a analizar
archivoCsv = 'https://raw.githubusercontent.com/carlosjviola/MeLi-challenge/main/dataset_challenge_analytics.csv'

# Cargamos el archivo en un DataFrame de Pandas realizar el estudio
dfUsrOrig = pd.read_csv(archivoCsv)

#Vemos el tamaño del archivo (filas, columnas) y los primeras y últimas filas del mismo
print("Cantidad de filas y columnas")
print(dfUsrOrig.shape)

print("\nMuestra las primeras 10 filas")
print(dfUsrOrig.head(10))

print("\nMuestra las últimas 10 filas")
print(dfUsrOrig.tail(10))

Cantidad de filas y columnas
(11500, 12)

Muestra las primeras 10 filas
   Unnamed: 0 first_login_dt  week_year         user_id  habito habito_dt  \
0           0     2022-01-30          4   MLB2883855850     0.0       NaN
1           1     2022-01-30          4   MLB7059024930     0.0       NaN
2           2     2022-01-07          1   MLB4163269880     0.0       NaN
3           3     2022-01-07          1   MLB7349806870     0.0       NaN
4           4     2022-01-07          1   MLB7239064190     0.0       NaN
5           5     2022-01-01         52  MLB10318536730     0.0       NaN
6           6     2022-01-01         52   MLB7546352300     0.0       NaN
7           7     2022-01-16          2   MLB2785023500     0.0       NaN
8           8     2022-01-16          2   MLB8395954300     0.0       NaN
9           9     2022-01-16          2   MLB1610695500     0.0       NaN

   activacion activacion_dt  setup    setup_dt  return   return_dt
0           1    2022-01-30      1  2022-01-30       0         NaN
1           1    2022-03-02      0         NaN       0         NaN
2           0           NaN      0         NaN       1  2022-01-08
3           0           NaN      0         NaN       1  2022-01-08
4           1    2022-01-07      0         NaN       1  2022-01-08
5           0           NaN      0         NaN       0         NaN
6           0           NaN      1  2022-01-01       1  2022-01-03
7           1    2022-01-16      0         NaN       1  2022-01-17
8           0           NaN      1  2022-01-16       0         NaN
9           1    2022-01-16      0         NaN       0         NaN

Muestra las últimas 10 filas
       Unnamed: 0       first_login_dt  week_year         user_id  habito  \
11490       11490  2022-01-19 00:00:00          3   MLB8224896810     0.0
11491       11491  2022-01-29 00:00:00          4   MLB7986941990     1.0
11492       11492  2022-01-29 00:00:00          4  MLB10626528960     0.0
11493       11493  2022-01-29 00:00:00          4   MLB1624562350     0.0
11494       11494  2022-01-29 00:00:00          4   MLB8397856010     0.0
11495       11495  2022-01-29 00:00:00          4   MLB5116611060     0.0
11496       11496  2022-01-14 00:00:00          2   MLB7984688360     1.0
11497       11497  2022-01-14 00:00:00          2   MLB6841893560     0.0
11498       11498  2022-01-14 00:00:00          2   MLB7306508150     0.0
11499       11499  2022-01-14 00:00:00          2   MLB3222878440     0.0

                 habito_dt  activacion        activacion_dt  setup  \
11490                  NaN           0                  NaN      0
11491  2022-02-18 00:00:00           1  2022-02-10 00:00:00      1
11492                  NaN           0                  NaN      0
11493                  NaN           0                  NaN      0
11494                  NaN           0                  NaN      1
11495                  NaN           1  2022-01-28 00:00:00      0
11496  2022-01-29 00:00:00           1  2022-01-22 00:00:00      1
11497                  NaN           0                  NaN      0
11498                  NaN           0                  NaN      0
11499                  NaN           0                  NaN      0

                  setup_dt  return            return_dt
11490                  NaN       1  2022-01-20 00:00:00
11491  2022-02-06 00:00:00       1  2022-01-30 00:00:00
11492                  NaN       0                  NaN
11493                  NaN       0                  NaN
11494  2022-01-29 00:00:00       1  2022-01-30 00:00:00
11495                  NaN       1  2022-01-30 00:00:00
11496  2022-01-22 00:00:00       1  2022-01-15 00:00:00
11497                  NaN       1  2022-02-03 00:00:00
11498                  NaN       1  2022-01-15 00:00:00
11499                  NaN       0                  NaN

In [74]:
#Removemos las primera columna que contiene un id que entiendo no vamos a utilizar
dfUsr = dfUsrOrig.drop(columns = dfUsrOrig.columns[0], axis = 1, inplace= False)

print("El nuevo DataFrame tiene una columna menos")
print(dfUsr.shape)

El nuevo DataFrame tiene una columna menos
(11500, 11)

**#La columna user_id debería contener valores únicos y es la base para el análisis**

In [75]:
#Vamos a analizar la columna user_id y ordenamos esa columna
dfUsr.sort_values('user_id', inplace= True)
print("\nLa diferencia entre count y unique nos indica que hay valores duplicados")
print(dfUsr['user_id'].describe())

print("\nObservamos una muestra aleatoria de 50 registros")
pd.set_option('display.max_rows', None)
print(dfUsr['user_id'].sample(n=50))

La diferencia entre count y unique nos indica que hay valores duplicados
count             11500
unique            11000
top       MLB7852379180
freq                  2
Name: user_id, dtype: object

Observamos una muestra aleatoria de 50 registros
739        MLB10649060560
11408      MLB10440363350
4317        MLB7275097870
9786        MLB3591674470
5683       MLB10610334460
1524       MLB10606989850
2675        MLB7873934480
8217       MLB10087877450
6600       MLB10550328430
4883        MLB3923892040
4849        MLB1505007620
8908        MLB7872988990
10134     MLB2420581460-1
7218        MLB1836410930
10200    MLB10509231250-1
5834        MLB6577968990
10639    MLB10595573270-1
9779        MLB7244228440
8052        MLB4747863010
8696       MLB10596912220
6687        MLB8053239810
11420       MLB8027142280
9466        MLB2926148510
9276        MLB1143453780
6422        MLB2557432640
159         MLB7922125460
10414     MLB5366816250-1
1212         MLB257279560
6621         MLB661708060
2804       MLB10559078600
3015       MLB10656210220
4489       MLB10588249060
3266       MLB10630061730
9799        MLB7565449000
8111        MLB2545601600
6671       MLB10448489790
4015        MLB7188467150
6453        MLB2639787870
6214        MLB1636075970
431         MLB5078059810
8894        MLB3477800310
7344       MLB10610948120
6626        MLB4586844090
4201        MLB4532268740
9052        MLB1621042230
7063       MLB10567521620
4866       MLB10323290590
10792     MLB5739479620-1
1542       MLB10491160760
7080        MLB3368141450
Name: user_id, dtype: object

In [76]:
#En algunos registros aparece '-1' al final lo que probablemente se trata de un error
#Reemplazamos los caracteres '-1' 
dfUsr['user_id'] = dfUsr['user_id'].str.replace('-1','')

#Vamos a verificar que el campo user_id tenga valores únicos
print("Cantidad total registros")
print(len(dfUsr['user_id']))

print("\nCandidad registros únicos")
print( len(dfUsr['user_id'].unique()) )

#Cómo han aparecido duplicados vamos a eliminarlos.
dfUsr.drop_duplicates(subset='user_id', inplace=True, keep='first')

print("\nNueva cantidad total registros sin duplicados")
print(len(dfUsr['user_id']))

Cantidad total registros
11500

Candidad registros únicos
10000

Nueva cantidad total registros sin duplicados
10000

**#Comenzamos el análisis de otras columnas**

In [77]:
# Convertimos la columna hábito en entero de acuerdo a las especificaciones
# antes llenamos con 0 los valores nulos en esta columna
display(dfUsr.dtypes)

dfUsr['habito'] = dfUsr['habito'].fillna(0.0).astype(int)
  
print('\nVerificamos los cambios')
display(dfUsr.dtypes)

first_login_dt     object
week_year           int64
user_id            object
habito            float64
habito_dt          object
activacion          int64
activacion_dt      object
setup               int64
setup_dt           object
return              int64
return_dt          object
dtype: object

Verificamos los cambios

first_login_dt    object
week_year          int64
user_id           object
habito             int64
habito_dt         object
activacion         int64
activacion_dt     object
setup              int64
setup_dt          object
return             int64
return_dt         object
dtype: object

In [78]:
# Convertimos en date los datos date-time en las columnas fecha "_dt". 
# ya que haciendo una inspección rápida del csv se observa que no hay horas

dfUsr['first_login_dt'] = pd.to_datetime(dfUsr['first_login_dt']).dt.date
dfUsr['habito_dt'] = pd.to_datetime(dfUsr['habito_dt']).dt.date
dfUsr['activacion_dt'] = pd.to_datetime(dfUsr['activacion_dt']).dt.date
dfUsr['setup_dt'] = pd.to_datetime(dfUsr['setup_dt']).dt.date
dfUsr['return_dt'] = pd.to_datetime(dfUsr['return_dt']).dt.date

In [79]:
# Como no está muy claro su contenido vamos a analizar la columna week_year
dfUsr['week_year'].agg(['mean', 'max', 'min'])

mean     4.3559
max     52.0000
min      1.0000
Name: week_year, dtype: float64

In [80]:
#Los datos son de enero, no puede haber registros con el valor 52 en semana
print("Cantidad de registros con error en semana")
print(len(dfUsr[dfUsr['week_year']==52]))

print(dfUsr[dfUsr['week_year']==52].sample(n=25))

Cantidad de registros con error en semana
350
     first_login_dt  week_year         user_id  habito   habito_dt  \
5011     2022-01-02         52   MLB3180602990       0         NaT
5995     2022-01-01         52   MLB8192620260       1  2022-01-16
434      2022-01-01         52   MLB7910736460       0         NaT
7520     2022-01-02         52   MLB2331168150       0         NaT
2384     2022-01-01         52   MLB5825660130       0         NaT
4006     2022-01-01         52  MLB10451365630       0         NaT
3591     2022-01-02         52  MLB10497054300       0         NaT
9046     2022-01-02         52   MLB6689231760       0         NaT
867      2022-01-02         52   MLB3837569220       1  2022-01-03
8753     2022-01-01         52   MLB8020376660       0         NaT
5591     2022-01-02         52    MLB938961270       0         NaT
9876     2022-01-02         52   MLB1826552600       0         NaT
5152     2022-01-02         52  MLB10251370320       0         NaT
7521     2022-01-02         52  MLB10362504900       0         NaT
5996     2022-01-01         52   MLB5538575260       0         NaT
4512     2022-01-01         52   MLB1948090240       0         NaT
448      2022-01-02         52    MLB317938200       0         NaT
8352     2022-01-02         52  MLB10498213080       0         NaT
3748     2022-01-02         52  MLB10327021110       0         NaT
9198     2022-01-02         52  MLB10499776280       0         NaT
8901     2022-01-01         52   MLB5163438110       1  2022-01-20
6995     2022-01-01         52   MLB1323405560       0         NaT
3334     2022-01-02         52   MLB7073188830       1  2022-01-19
6161     2022-01-02         52    MLB746913100       0         NaT
9715     2022-01-01         52   MLB3917439490       0         NaT

      activacion activacion_dt  setup    setup_dt  return   return_dt
5011           1    2022-01-02      1  2022-01-07       1  2022-01-07
5995           1    2022-01-09      1  2022-01-02       1  2022-01-02
434            0           NaT      0         NaT       1  2022-01-13
7520           1    2022-01-02      0         NaT       1  2022-01-15
2384           0           NaT      0         NaT       1  2022-01-31
4006           1    2022-01-02      1  2022-01-01       1  2022-01-02
3591           0           NaT      1  2022-01-02       0         NaT
9046           0           NaT      0         NaT       0         NaT
867            1    2022-01-02      1  2022-01-02       1  2022-01-03
8753           0           NaT      1  2022-01-01       0         NaT
5591           1    2022-01-14      1  2022-01-03       1  2022-01-03
9876           1    2022-01-04      1  2022-01-04       1  2022-01-04
5152           0           NaT      0         NaT       1  2022-01-15
7521           1    2022-01-07      0         NaT       1  2022-01-04
5996           0           NaT      1  2022-01-09       1  2022-01-09
4512           0           NaT      1  2022-01-01       0         NaT
448            0           NaT      0         NaT       0         NaT
8352           0           NaT      0         NaT       1  2022-01-03
3748           0           NaT      1  2022-01-09       1  2022-01-03
9198           0           NaT      1  2022-01-03       1  2022-01-04
8901           1    2022-01-01      1  2022-01-10       1  2022-01-02
6995           1    2022-01-01      0         NaT       1  2022-01-09
3334           1    2022-01-10      1  2022-01-18       1  2022-01-03
6161           0           NaT      0         NaT       1  2022-01-03
9715           0           NaT      0         NaT       1  2022-01-02

In [81]:
#Vemos que los registros con semana 52 corresponden al 1 y 2 de enero
#Como son los primeros días del año quedaron con la última semana del anterior. 
#Debemos reemplazar 52 por 1
dfUsr.loc[dfUsr["week_year"] == 52, "week_year"] = 1

print("Cantidad de registros con error en semana")
print(len(dfUsr[dfUsr['week_year']==52]))

Cantidad de registros con error en semana
0

**#Ahora hacemos un control con las fechas. Las fechas en las columnas activacion, setup, habito y return deben ser mayores o iguales a la fecha de first_login**

In [82]:
#Creamos una nueva columna min_dt en el dataset con la menor fecha entre activación, setup, habito y return
def calc_new_col(row):
    columnas = ['activacion_dt', 'setup_dt', 'habito_dt', 'return_dt']
    min_dt = row['first_login_dt']
    for col in columnas:
        if row[col] is not pd.NaT:
          if row[col] < min_dt:
              min_dt = row[col]
    return min_dt

dfUsr["min_dt"] = dfUsr.apply(calc_new_col, axis=1)
print(dfUsr.head()) 
print(dfUsr.shape)

     first_login_dt  week_year         user_id  habito   habito_dt  \
5561     2022-01-13          2  MLB10001480800       0         NaT
9631     2022-01-06          1  MLB10001530370       0         NaT
5035     2022-01-05          1  MLB10002487550       1  2022-01-18
8479     2022-01-07          1  MLB10002855700       0         NaT
3189     2022-01-15          2  MLB10003112290       0         NaT

      activacion activacion_dt  setup    setup_dt  return   return_dt  \
5561           1    2022-01-13      0         NaT       0         NaT
9631           1    2022-01-06      0         NaT       1  2022-01-13
5035           1    2022-01-07      1  2022-01-08       1  2022-01-06
8479           0           NaT      0         NaT       0         NaT
3189           0           NaT      0         NaT       0         NaT

          min_dt
5561  2022-01-13
9631  2022-01-06
5035  2022-01-05
8479  2022-01-07
3189  2022-01-15
(10000, 12)

In [83]:
print('Tamaño del dataset')
print(dfUsr.shape) 

#Creamos una serie con el índice de los registros con problemas de fecha
indexUsr = dfUsr[ dfUsr['min_dt'] < dfUsr['first_login_dt']].index
print('\nCantidad de filas con problemas de fecha')
print(indexUsr.shape) 

#Creamos un nuevo DataFrame borrando los registros con problemas detectados en el punto anterior
dfUsrFinal = dfUsr.drop(indexUsr)

print('\nResumen de archivo con los registros borrados')
print(dfUsrFinal.shape)

print(dfUsrFinal.head(15))

Tamaño del dataset
(10000, 12)

Cantidad de filas con problemas de fecha
(364,)

Resumen de archivo con los registros borrados
(9636, 12)
     first_login_dt  week_year         user_id  habito   habito_dt  \
5561     2022-01-13          2  MLB10001480800       0         NaT
9631     2022-01-06          1  MLB10001530370       0         NaT
5035     2022-01-05          1  MLB10002487550       1  2022-01-18
8479     2022-01-07          1  MLB10002855700       0         NaT
3189     2022-01-15          2  MLB10003112290       0         NaT
3103     2022-01-19          3  MLB10003554750       1  2022-02-08
7609     2022-01-21          3  MLB10003698160       0         NaT
2770     2022-01-02          1  MLB10004252630       0         NaT
4929     2022-01-19          3  MLB10004759110       0         NaT
2343     2022-01-26          4  MLB10005576530       0         NaT
5950     2022-01-10          2  MLB10006217790       1  2022-01-23
7859     2022-01-20          3  MLB10007151650       0         NaT
857      2022-01-07          1  MLB10010599840       0         NaT
4609     2022-01-17          3  MLB10011098280       0         NaT
156      2022-01-28          4  MLB10011728560       0         NaT

      activacion activacion_dt  setup    setup_dt  return   return_dt  \
5561           1    2022-01-13      0         NaT       0         NaT
9631           1    2022-01-06      0         NaT       1  2022-01-13
5035           1    2022-01-07      1  2022-01-08       1  2022-01-06
8479           0           NaT      0         NaT       0         NaT
3189           0           NaT      0         NaT       0         NaT
3103           1    2022-01-19      1  2022-01-19       1  2022-01-21
7609           0           NaT      1  2022-01-22       1  2022-01-22
2770           1    2022-01-29      1  2022-01-29       1  2022-01-29
4929           0           NaT      1  2022-01-19       1  2022-01-20
2343           1    2022-01-26      0         NaT       1  2022-02-08
5950           1    2022-01-11      1  2022-01-10       1  2022-01-11
7859           0           NaT      0         NaT       1  2022-01-21
857            0           NaT      1  2022-01-07       1  2022-01-08
4609           0           NaT      1  2022-01-17       0         NaT
156            0           NaT      0         NaT       1  2022-01-31

          min_dt
5561  2022-01-13
9631  2022-01-06
5035  2022-01-05
8479  2022-01-07
3189  2022-01-15
3103  2022-01-19
7609  2022-01-21
2770  2022-01-02
4929  2022-01-19
2343  2022-01-26
5950  2022-01-10
7859  2022-01-20
857   2022-01-07
4609  2022-01-17
156   2022-01-28

**#Ahora vamos a crear columnas con la cantidad de días que trancurren entre las fechas del archivo y la de forst_login**

In [84]:
dfUsrFinal['activacion_dias'] = (dfUsrFinal['activacion_dt']-dfUsrFinal['first_login_dt']).dt.days
dfUsrFinal['setup_dias'] = (dfUsrFinal['setup_dt']-dfUsrFinal['first_login_dt']).dt.days
dfUsrFinal['return_dias'] = (dfUsrFinal['return_dt']-dfUsrFinal['first_login_dt']).dt.days
dfUsrFinal['habito_dias'] = (dfUsrFinal['habito_dt']-dfUsrFinal['first_login_dt']).dt.days

dfUsrFinal['activacion_dias'] = dfUsrFinal['activacion_dias'].fillna(0)
dfUsrFinal['activacion_dias'] = dfUsrFinal['activacion_dias'].astype(int) 

dfUsrFinal['setup_dias'] = dfUsrFinal['setup_dias'].fillna(0)
dfUsrFinal['setup_dias'] = dfUsrFinal['setup_dias'].astype(int) 

dfUsrFinal['return_dias'] = dfUsrFinal['return_dias'].fillna(0)
dfUsrFinal['return_dias'] = dfUsrFinal['return_dias'].astype(int) 

dfUsrFinal['habito_dias'] = dfUsrFinal['habito_dias'].fillna(0)
dfUsrFinal['habito_dias'] = dfUsrFinal['habito_dias'].astype(int) 

print('Observamos el encabezado del nuevo DataFrame')
print(dfUsrFinal.head(15))

Observamos el encabezado del nuevo DataFrame
     first_login_dt  week_year         user_id  habito   habito_dt  \
5561     2022-01-13          2  MLB10001480800       0         NaT
9631     2022-01-06          1  MLB10001530370       0         NaT
5035     2022-01-05          1  MLB10002487550       1  2022-01-18
8479     2022-01-07          1  MLB10002855700       0         NaT
3189     2022-01-15          2  MLB10003112290       0         NaT
3103     2022-01-19          3  MLB10003554750       1  2022-02-08
7609     2022-01-21          3  MLB10003698160       0         NaT
2770     2022-01-02          1  MLB10004252630       0         NaT
4929     2022-01-19          3  MLB10004759110       0         NaT
2343     2022-01-26          4  MLB10005576530       0         NaT
5950     2022-01-10          2  MLB10006217790       1  2022-01-23
7859     2022-01-20          3  MLB10007151650       0         NaT
857      2022-01-07          1  MLB10010599840       0         NaT
4609     2022-01-17          3  MLB10011098280       0         NaT
156      2022-01-28          4  MLB10011728560       0         NaT

      activacion activacion_dt  setup    setup_dt  return   return_dt  \
5561           1    2022-01-13      0         NaT       0         NaT
9631           1    2022-01-06      0         NaT       1  2022-01-13
5035           1    2022-01-07      1  2022-01-08       1  2022-01-06
8479           0           NaT      0         NaT       0         NaT
3189           0           NaT      0         NaT       0         NaT
3103           1    2022-01-19      1  2022-01-19       1  2022-01-21
7609           0           NaT      1  2022-01-22       1  2022-01-22
2770           1    2022-01-29      1  2022-01-29       1  2022-01-29
4929           0           NaT      1  2022-01-19       1  2022-01-20
2343           1    2022-01-26      0         NaT       1  2022-02-08
5950           1    2022-01-11      1  2022-01-10       1  2022-01-11
7859           0           NaT      0         NaT       1  2022-01-21
857            0           NaT      1  2022-01-07       1  2022-01-08
4609           0           NaT      1  2022-01-17       0         NaT
156            0           NaT      0         NaT       1  2022-01-31

          min_dt  activacion_dias  setup_dias  return_dias  habito_dias
5561  2022-01-13                0           0            0            0
9631  2022-01-06                0           0            7            0
5035  2022-01-05                2           3            1           13
8479  2022-01-07                0           0            0            0
3189  2022-01-15                0           0            0            0
3103  2022-01-19                0           0            2           20
7609  2022-01-21                0           1            1            0
2770  2022-01-02               27          27           27            0
4929  2022-01-19                0           0            1            0
2343  2022-01-26                0           0           13            0
5950  2022-01-10                1           0            1           13
7859  2022-01-20                0           0            1            0
857   2022-01-07                0           0            1            0
4609  2022-01-17                0           0            0            0
156   2022-01-28                0           0            3            0

**#Grabamos los resultados del análisis en un nuevo archivo que se utilizará en el reporte**

In [85]:
dfUsrFinal.to_csv('resultado_final.csv')